body {

    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    justify-content: center;
    flex-direction: column;

}



.header,.footer {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
  }

img {
    width: 600px;
}

.left-links,.right-links {
    flex-direction: row;
    list-style-type: none;
    display: inline-flex;
    gap: 16px;
  }

.left-links {
    font-weight: 700;
}

.right-links {
    font-size: 12px;
}

  a {
    color: white;
    text-decoration: none;
  }